{
    "download_path": "/downloads/Media",
    "mikan_rss_url": "https://mikanani.me/RSS/MyBangumi?token=YOUR_MIKAN_TOKEN",
    "TZ": "Asia/ShangHai",
    "IntervalTimeToRss": "300",
    "qbittorrent_url": "https://qb.YOUR_MYSQL_USERNAME.top:11451",
    "qbittorrent_username": "admin",
    "qbittorrent_password": "YOUR_PASSWORD",
    "subtitle_language": "zh-sc",
    "file_name": "/cn_name/ E/episode/",
    "dir_name": "[/year/./month/]/cn_name/",
    "anime_path": "Anime",
    "tokusatsu_path": "Tokusatsu",
    "qbittorrent_name": "[/type/]/cn_name/ E/episode/",
    "contain_filter": "1080p",
    "filter_words": "720,60FPS,60fps,先行版",
    "telegram_token": "YOUR_TELEGRAM_BOT_TOKEN",
    "telegram_chat_id": "YOUR_TELEGRAM_CHAT_ID"
}