{
    "anime_path"                   : "Anime",
    "dir_name"                     : "[/year/./month/]/cn_name/",
    "download_path"                : "/downloads/Media",
    "file_name"                    : "/cn_name/ E/episode/",
    "gotify_finish_download_token" : "REDACTED_GOTIFY_TOKEN_2",
    "gotify_start_download_token"  : "REDACTED_GOTIFY_TOKEN_3",
    "gotify_url"                   : "REDACTED_GOTIFY_URL",
    "interval_time_to_rss"         : "300",
    "mikan_rss_url"                : "https://mikanani.me/RSS/MyBangumi?token=YOUR_MIKAN_TOKEN",
    "proxy_url"                    : "http://127.0.0.1:7890",
    "qbittorrent_name"             : "[/type/]/cn_name/ E/episode/",
    "qbittorrent_password"         : "YOUR_PASSWORD",
    "qbittorrent_url"              : "https://qb.YOUR_MYSQL_USERNAME.top:11451",
    "qbittorrent_username"         : "admin",
    "telegram_channel_id"          : "YOUR_TELEGRAM_CHANNEL_ID",
    "telegram_chat_id"             : "YOUR_TELEGRAM_CHAT_ID",
    "telegram_token"               : "YOUR_TELEGRAM_BOT_TOKEN",
    "tokusatsu_path"               : "Tokusatsu",
    "timezone"                     : "Asia/ShangHai"
}